body{
	margin: 0;
	background-color: #f1f1f1;

}
header{
	background-color:green;
	padding: 20px;
	text-align: center;
	color: white;
	font-family: "comic sans ms"
}
nav{
	overflow: hidden;
	background-color: #333;
}
nav a{
	float: left;
	color: white;
	padding: 14px 16px ; /*top button left right
	text-decoration: none;/* underline hatauna li*/
text-decoration: none;
}
/*hover=mouses loigada ka garna vanako ho*/
nav a:hover{
	background-color: black;
	color: white;
}
.column{
	float: left;
	padding:10px;
}
.column.side{
	width: 20%;
}
.column.middle{
width: 50%;
}
footer{
	clear: both;
}
@media screen and (max-width: 600px){
	.column.side,column.middle{
		width: 100%;
	}
}

p{
	text-align: justify;
}
.ul{
	text-align: right;
}

div.gallery{
	margin:4px;
	border:1px solid black ;
	float:left;
	width: 8px;
}
div.gallery img{
	width: 150px;
	height: 200px;
padding-bottom: 2px;

}
/*div.gallery:hover{
	border: 1px solid red;
}*/


/*
footer{
	
	background-color: green;
	padding: 10px;
	color: white;
	text-align: center;
}*/
input[type=text],select,textarea{
	width:100%;
	padding-left: 10px;
	border: 1px solid #ccc;
	margin-top: 3px;
	margin-bottom: 4px;
	resize: vertical;


}
input[type=submit]{
	background-color: green;
	color: white;
	padding: 12px 20px;
	cursor: pointer;
	border: none;
	margin: 2px;
	border: 1px solid black ;
}


footer p{
	overflow: hidden;
	background-color:green;
	padding: 10px;
	text-align: center;
	color: white;
	font-family: "comic sans ms";
}
.marquee {
    position: absolute;
    white-space: nowrap;
    -webkit-animation: rightThenLeft 4s linear;
}

@-webkit-keyframes rightThenLeft {
    0%   {left: 0%;}
    30%  {left: 100%;}
    70% {left: 0%;}
}
